/*
 * link.scss
 *
 * All styling applied to the link components
 *
 * Index
 * - Link
 *    - Color
 *    - Icon
 *    - Text
 */

.link {
  display: inline-block;
  color: $link-color;

  @include hover {
    text-decoration: none;
    color: $link-color-hover;
  }

  @include active {
    color: $link-color-active;
  }

  &.is {
    @each $name, $pair in $colors {
      // Color
      $color: nth($pair, 1);
      &-#{$name} {
        color: $color;

        @include hover {
          color: color-hover($color);
        }

        @include active {
          color: color-active($color);
        }
      }
    }
  }

  .icon {
    // Icon
    color: inherit;
  }

  .text {
    // Text
    color: inherit;
    @include hover {
      text-decoration: underline;
    }
  }
}
