/*
 * toast.scss
 *
 * All styling applied to the toast component
 *
 * Index
 * - Toast Container
 *    - Position
 * - Toast
 */

.toast-container {
  // Position
  &.has-position {
    margin: 0;
    &-left {
      &-top,
      &-middle,
      &-bottom {
        margin-left: $toast-offset;
      }

      &-top {
        margin-top: $toast-offset;
      }

      &-bottom {
        margin-top: -$toast-offset;
      }
    }

    &-center {
      &-top,
      &-bottom,
      &-middle {
        @include align('center', true);
      }

      &-top {
        margin-top: $toast-offset;
      }

      &-bottom {
        margin-top: -$toast-offset;
      }
    }

    &-right {
      &-top,
      &-bottom,
      &-middle {
        margin-left: -$toast-offset;
      }

      &-top {
        margin-top: $toast-offset;
      }

      &-bottom {
        margin-top: -$toast-offset;
      }
    }
  }
}

.toast {
  position: relative;
  color: $toast-color;
  border: 1px solid $toast-color-border;
  background-color: $toast-color-background;

  // @each $name, $pair in $colors {
  //   $color: nth($pair, 1);
  //   $color-background: color-intensity($color, lighten, 22);
  //   &.is-#{$name} {
  //     color: $color;
  //     border-color: $color;
  //     background-color: $color-background;
  //   }
  // }
}
