/*
 * icon.scss
 *
 * All styling applied to the icon component
 *
 * Index
 * - Icon
 *    - Color
 *    - Font
 *      - Size
 */

@function icon-size($size) {
  @return factor($size, $icon-size-factor);
}

.icon {
  width: auto;
  height: auto;
  vertical-align: top;

  color: $icon-color;

  &.is {
    @each $name, $pair in $colors {
      // Color
      &-#{$name} {
        color: nth($pair, 1);
      }
    }
  }

  &-font {
    // Font
    @extend .#{$icon-family};
    font-size: icon-size(1rem);

    @each $name, $value in $icons {
      &-#{$name} {
        @include icon($name);
      }
    }

    &.is {
      @each $name, $size in $text-sizes {
        // Size
        &-#{$name} {
          font-size: icon-size($size);
        }
      }
    }
  }
}
