/*
 * navbar.scss
 *
 * All styling applied to the navbar component
 *
 * Index
 * - NavBar
 * - NavBar Menu
 *    - Trigger
 *    - Opened
 * - NavBar Brand
 */

.navbar {
  margin: 0;
  height: $navbar-height;
  min-height: auto;
  padding: $navbar-padding;
  border: none;

  > .container {
    min-height: 100%;
  }
}

.navbar-menu {
  &-trigger {
    @include screen($navbar-device-inline-active) {
      display: none;
    }
  }

  &.is {
    // Opened
    &-opened {
      @extend .is-active;

      .navbar-item > .button {
        width: 100%;
      }

      @include screen($navbar-device-inline-active) {
        .navbar-item > .button {
          width: auto;
        }
      }
    }
  }
}

.navbar-brand {
  justify-content: space-between;
}
