/*
 * navbar.scss
 *
 * All styling applied to the navbar component
 *
 * Index
 * - NavBar
 *    - Menu
 */

.navbar {
  margin: 0;
  height: $navbar-height;
  min-height: auto;
  padding: $navbar-padding;
  border: none;

  > .container {
    min-height: 100%;
  }
}
