/*
 * pagination.scss
 *
 * All styling applied to the pagination component
 *
 * Index
 * - Pagination
 *    - List
 *    - Item
 */

.pagination {
  justify-content: center;

  // List
  &-list {
    border: none;

    @include flex-auto;

    > .list-item {
      padding: 0;
    }
  }

  // Item
  &-link {
    &.is-current {
      font-weight: bold;
      &:hover,
      &:active,
      &:focus {
        color: $pagination-current-color;
      }
      &:hover {
        border-color: $pagination-hover-border-color;
      }
      &:focus {
        border-color: $pagination-focus-border-color;
      }
    }
  }
}
