/*
 * button.scss
 *
 * All styling applied to the text button component
 *
 * Index
 * - Button Text
 */

.button.is-text {
  text-decoration: none;
  color: $button-text-color;

  @include hover {
    text-decoration: none;
    color: $button-text-color-hover;
    background-color: transparent;
  }

  @include active {
    color: $button-text-color-active;
    background-color: transparent;
    box-shadow: none;
  }
}
