/*
 * layout-column.scss
 *
 * All styling applied to the layout column component
 *
 * Index
 * - Layout Column
 *    - Reverted
 *    - Gap
 *    - Alignment
 * - Column
 *    - Size
 *    - Alignment
 */

.layout {
  &.columns {
    display: block;
    flex-direction: row;

    @include layout-activate {
      display: flex;
    }

    &.is {
      // Reverted
      &-reverted {
        flex-direction: row-reverse;
      }

      // Gap
      @for $i from 1 through 12 {
        &-#{$i} {
          @include layout-activate {
            @include gap($i, 0);

            &.is {
              &-multiline {
                @include gap($i, $i, true);
                > * {
                  margin: 0;
                }
              }

              &-reverted {
                @include gap($i, 0, false, true);
              }
            }
          }
        }
      }
    }

    &.has-alignment {
      // Alignment
      &-start {
        align-items: flex-start;
      }

      &-center {
        align-items: center;
      }

      &-end {
        align-items: flex-end;
      }
    }
  }
}

.column {
  &.is {
    // Size
    &-auto {
      flex: none;
      width: auto;
    }
  }

  &.has-alignment {
    // Alignment
    &-start {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-end {
      align-self: flex-end;
    }
  }
}
