/*
 * link.scss
 *
 * All styling applied to the link components
 *
 * Index
 * - Link
 */

.link {
  display: inline-block;

  &:hover {
    text-decoration: none;
  }

  .text {
    &:hover {
      text-decoration: underline;
    }
  }
}
