/**
 * colors.scss
 *
 * All available color utilities.
 *
 * Index
 * - Base
 * - Theme
 * - Intensity
 * - States
 * - Actions
 */

// Base
$color-flamingo: #fc6053 !default;
$color-jelly: #18a3a5 !default;
$color-shark: #364047 !default;
$color-pampa: #f5f4f1 !default;
$color-apple: #7ed321 !default;
$color-gold: #f5e31c !default;
$color-mango: #f5ab30 !default;
$color-cherry: #e42d1e !default;

// Theme
$color-theme: 'light' !default;

$color-primary: $color-flamingo !default;
$color-primary-inverted: $color-pampa !default;
$color-secondary: $color-jelly !default;
$color-secondary-inverted: $color-pampa !default;
$color-background: $color-pampa !default;
$color-background-inverted: $color-shark !default;

// Intensity
$color-intensity-factor: 2% !default;

@function color-intensity($color, $type, $intensity) {
  @if ($color-theme == 'dark') {
    $type: if($type == darken, lighten, darken);
  }

  @return call($type, $color, $intensity * $color-intensity-factor);
}

// States
$color-info: $cyan !default;
$color-info-inverted: findColorInvert($color-info) !default;
$color-success: $green !default;
$color-success-inverted: findColorInvert($color-success) !default;
$color-warning: $yellow !default;
$color-warning-inverted: findColorInvert($color-warning) !default;
$color-danger: $red !default;
$color-danger-inverted: findColorInvert($color-danger) !default;

// Actions
$color-intensity-hover: 5 !default;

@function color-hover($color) {
  @return color-intensity($color, darken, $color-intensity-hover);
}

$color-intensity-active: 2 * $color-intensity-hover !default;

@function color-active($color) {
  @return color-intensity($color, darken, $color-intensity-active);
}

$custom-colors: (
  'secondary': (
    $color-secondary,
    $color-secondary-inverted,
  ),
  'background': (
    $color-background,
    $color-background-inverted,
  ),
);
