/**
 * components.scss
 *
 * All available component utilities.
 *
 * Index
 * - Tooltip
 * - Toast
 * - Container
 *    - Size
 *    - Card
 *    - Header
 * - Dialog
 *    - Modal
 * - Miscellaneous
 *    - NavBar
 *    - Overlay
 *    - Icon
 * - Data
 *    - List
 */

// Tooltip
$tooltip-offset: 0.5em !default;
$tooltip-background-color: $color-background-inverted !default;
$tooltip-color: $color-background !default;

// Toast
$toast-offset: 0.5em !default;
$toast-lifetime: 2s !default;

// Table
$table-cell-spacing: 0 0.6em !default;

// Containers

// Size
$container-size-small: 15rem !default;
$container-size-normal: 20rem !default;
$container-size-medium: 30rem !default;
$container-size-large: 40rem !default;

// Card
$card-gap: 0.75em !default;
$card-padding: $card-gap !default;
$card-header-padding: 0 0 $card-gap 0 !default;
$card-footer-padding: $card-gap 0 0 0 !default;
$card-radius: $shape-radius !default;

// Header
$header-background-color: color-intensity($color-background, darken, 2) !default;

// Dialog

// Modal
$modal-gap: 1.5em !default;
$modal-padding: $modal-gap !default;
$modal-header-padding: 0 0 $modal-gap 0 !default;
$modal-content-padding: $modal-gap 0 $modal-gap 0 !default;
$modal-footer-padding: $modal-gap 0 0 0 !default;

// Miscellaneous

// NavBar
$navbar-padding: 0 $containers-padding-horizontal !default;

// Overlay
$overlay-color-background: color-intensity($color-background, darken, 15) !default;
$overlay-opacity: 0.25 !default;

// Icon
$icon-color: $color-background-inverted !default;

// Data

// List
$list-item-padding: 0.5em 0 !default;
