/**
 * animations.scss
 *
 * All available animations as variables.
 *
 * Index
 * - Duration
 * - Function
 * - List
 * - Keyframes
 *    - Fade In
 *    - Fade Out
 *    - Rotate Right
 *    - Rotate Left
 */

// Duration
$animation-duration-fast: 0.2s !default;
$animation-duration-normal: 0.5s !default;
$animation-duration-medium: 0.75s !default;
$animation-duration-slow: 1s !default;

// Function
$animation-timing: linear !default;

// List
$animations: 'fadeIn' 'fadeOut' 'rotateLeft' 'rotateRight' !default;

// Keyframes

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes rotateRight {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(359deg);
  }
}

@keyframes rotateLeft {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-359deg);
  }
}
