/*
 * navbar.scss
 *
 * All styling applied to the navbar component
 *
 * Index
 * - NavBar
 */

.navbar {
  display: block;
  margin: 0;
  min-height: auto;
  height: $navbar-height;
  padding: $navbar-padding;
  border: none;

  > .columns {
    height: 100%;
  }
}
