/*
 * layout-column.scss
 *
 * All styling applied to the layout column component
 *
 * Index
 * - Layout Column
 *    - Reverted
 *    - Alignment
 * - Column
 *    - Size
 *    - Alignment
 */

.layout {
  &.columns {
    display: block;
    flex-direction: row;

    &.is-mobile {
      display: flex;
      &.is {
        @for $i from 1 through 12 {
          &-#{$i} {
            @include gap($i, 0);
          }
        }
      }
    }

    &:not(.is-mobile) {
      @include screen($layout-flex-active-device) {
        display: flex;
        &.is {
          @for $i from 1 through 12 {
            &-#{$i} {
              @include gap($i, $i, true);
              > * {
                margin: 0;
              }
            }
          }
        }
      }
    }

    &.is {
      // Reverted
      &-reverted {
        flex-direction: row-reverse;
      }
    }

    // Alignment
    &.has-alignment {
      &-start {
        align-items: flex-start;
      }

      &-center {
        align-items: center;
      }

      &-end {
        align-items: flex-end;
      }
    }
  }
}

.column {
  &.is {
    // Size
    &-auto {
      flex: none;
      width: auto;
    }
  }

  // Alignment
  &.has-alignment {
    &-start {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-end {
      align-self: flex-end;
    }
  }
}
