/**
 * components.scss
 *
 * All available component utilities.
 *
 * Index
  * - Miscellaneous
 *    - NavBar
 *    - Overlay
 *    - Icon
 *    - Tooltip
 *    - Toast
 * - Container
 *    - Size
 *    - Card
 *    - Header
 * - Dialog
 *    - Modal
 * - Data
 *    - List
 *    - Table
 * - Action
 *    - Link
 */

// Miscellaneous

// NavBar
$navbar-container-height: 3.25rem !default;
$navbar-padding: 0 $containers-padding-horizontal !default;
$navbar-color-background: color-intensity($color-background, darken, 2) !default;
$navbar-color: $color-background-inverted !default;

// Overlay
$overlay-color-background: color-intensity($color-background, darken, 15) !default;
$overlay-opacity: 0.25 !default;

// Icon
$icon-color: $color-background-inverted !default;

// Image
$image-size-small: 2rem !default;
$image-size-normal: 5rem !default;
$image-size-medium: 10rem !default;
$image-size-large: 20rem !default;

// Tooltip
$tooltip-offset: 0.5em !default;
$tooltip-color-background: $color-background-inverted !default;
$tooltip-color: $color-background !default;

// Toast
$toast-offset: 0.5em !default;
$toast-lifetime: 2s !default;

// Container

// Size
$container-size-small: 15rem !default;
$container-size-normal: 20rem !default;
$container-size-medium: 30rem !default;
$container-size-large: 40rem !default;

// Card
$card-gap: 0.75em !default;
$card-padding: $card-gap !default;
$card-header-padding: 0 0 $card-gap 0 !default;
$card-footer-padding: $card-gap 0 0 0 !default;
$card-radius: $shape-radius !default;

// Header
$header-color-background: $navbar-color-background !default;
$header-color: $navbar-color !default;

// Dialog

// Modal
$modal-gap: 1.5em !default;
$modal-padding: $modal-gap !default;
$modal-header-padding: 0 0 $modal-gap 0 !default;
$modal-content-padding: $modal-gap 0 $modal-gap 0 !default;
$modal-footer-padding: $modal-gap 0 0 0 !default;

// Data

// List
$list-item-padding: 0.5em 0 !default;

// Table
$table-cell-spacing: 0 0.6em !default;

// Action

// Link
$link-color: $color-background-inverted !default;
$link-color-active: $color-primary !default;
$link-color-hover: color-hover($color-primary) !default;
