/**
 * iconography.scss
 *
 * All available iconography utilities.
 *
 * Index
 * - Family
 * - Size
 * - List
 */

// Family
$icon-family: 'eva' !default;

// Size
$icon-size-factor: 50% !default;

// List
$icon-list-states: (
  info: 'info-outline',
  warning: 'alert-circle-outline',
  danger: 'close-circle-outline',
  success: 'checkmark-circle-2-outline',
) !default;

$icon-list-arrows: (
  left: 'chevron-left-outline',
  right: 'chevron-right-outline',
  up: 'chevron-up-outline',
  down: 'chevron-down-outline',
) !default;

$icon-list-media: (
  linkedin: 'linkedin',
  facebook: 'facebook',
  github: 'github',
) !default;

$icon-list-contacts: (
  home: 'home-outline',
  email: 'email-outline',
  phone: 'phone-outline',
  pin: 'pin-outline',
) !default;

$icon-list-components: (
  loader: 'loader-outline',
  close: 'close-outline',
  helper: 'question-mark-circle-outline',
) !default;

$icon-list-miscellaneous: (
  heart: 'heart',
) !default;

$icon-list-custom: () !default;

$icons: map-merge(
  map-merge(
    map-merge(
      map-merge(map-merge(map-merge($icon-list-states, $icon-list-arrows), $icon-list-components), $icon-list-media),
      $icon-list-contacts
    ),
    $icon-list-miscellaneous
  ),
  $icon-list-custom
);

@mixin icon($name) {
  $value: map-get($icons, $name);
  @extend .#{$icon-family}-#{$value};
}
