/**
 * typography.scss
 *
 * All available typography utilities.
 *
 * Index
 * - Family
 * - Sizes
 *    - Base
 *    - Variants
 */

// Family
$text-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
  'Droid Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif !default;

// Sizes

// Base
$text-size-mobile: 16px !default;
$text-size-tablet: 16px !default;
$text-size-desktop: 16px !default;
$text-size-widescreen: 16px !default;
$text-size-fullhd: 16px !default;

// Variants
$text-size-1: 3rem !default;
$text-size-2: 2.5rem !default;
$text-size-3: 2rem !default;
$text-size-4: 1.5rem !default;
$text-size-5: 1.25rem !default;
$text-size-6: 1rem !default;
$text-size-7: 0.75rem !default;

$text-size-small: $text-size-7;
$text-size-normal: $text-size-6;
$text-size-medium: $text-size-4;
$text-size-large: $text-size-1;

$text-sizes: (
  '1': $text-size-1,
  '2': $text-size-2,
  '3': $text-size-3,
  '4': $text-size-4,
  '5': $text-size-5,
  '6': $text-size-6,
  '7': $text-size-7,
  'small': $text-size-small,
  'normal': $text-size-normal,
  'medium': $text-size-medium,
  'large': $text-size-large,
);

$text-device-sizes: (
  'mobile': $text-size-mobile,
  'tablet': $text-size-tablet,
  'desktop': $text-size-desktop,
  'widescreen': $text-size-widescreen,
  'fullhd': $text-size-fullhd,
);
