/*
 * header.scss
 *
 * All styling applied to the header component
 *
 * Index
 * - Header
 */

.header {
  background-color: $header-color-background;
  color: $header-color;
  padding: $header-padding;
}
